

.filmstrip__toolbar {
    @include flex();
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    // position: relative;
    width: $filmstripToggleButtonWidth;
    position: absolute;
    top: 0;
    left: -42px;

    button {
        font-size: 10px;
        line-height: 1;
        text-align: center;
        background: transparent;
        opacity: 0.7;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;

        -webkit-appearance: none;

        &:hover {
            opacity: 1;
        }

        i {
            cursor: pointer;
        }
    }
}
.hidden {
    .filmstrip__toolbar{
        left: -50px;
        transition: left 5s;
    }
}
